@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Rubik+Broken+Fax&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&family=Sriracha&display=swap');

:root {
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
   margin: 0px;
   padding: 0px;
   font-size: 1em;
}
html, body {
    min-height: 100vh; /*tamanho minimo do corpo do body*/
    background-color: darkgray;
    font-family: var(--fonte1); /* escolher onde afonte serta colocada*/
}
header {
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1 {
   padding-top: 50px; 
   
   font-variant: small-caps;/* fica letras maisculas mas as iniciais ficam maior*/
   font-family: var(--fonte2);
   font-size: 10vw;
}
header > {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none; /* tira o sublinhado*/
    font-weight: bolder; /* fonte em negrito*/
}
a:hover {
    text-decoration: underline; /* ao passar o mouse em cima do link fica sublinhado*/
}
section {
    padding-top: 10vh; /*aumenta o espaco entre as section, mais espaço em cima*/
    padding-bottom: 10vh; /* mais espaço em baixo*/
    line-height: 2em; /*espaço entre as linhas, no meio*/
    padding-left: 30px;/*espacamento a esquerda*/
    font-family: var(--fonte3);
    font-size:3.5vw;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem > p { /* coloca uma quadrado do tamanho desejado ond efica a imagem*/
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.74);
}
section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed; /* fixar a imagem ela fica párada e textop passa por cima*/
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}